In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("C:\\Users\\ADMIN\\2008 - 2022.csv")
df2 = pd.read_csv("C:\\Users\\ADMIN\\2023.csv")

In [3]:
df2.head(2)

,match_no,score_x,city,ballnumber,over,outcome,batter,bowler,score_y,t1,...,batting,bowling,over_no,ball_no,ball_count,current_score,current_runrate,player_dismissed,wickets_left,last_five
0,1,178,Ahmedabad,30,4.5,4,Moeen Ali,Mohammed Shami,4,Gujarat Titans,...,['Chennai Super Kings'],Gujarat Titans,4,5,29,45,9.310345,1,9,45.0
1,1,178,Ahmedabad,31,4.6,1,Moeen Ali,Mohammed Shami,1,Gujarat Titans,...,['Chennai Super Kings'],Gujarat Titans,4,6,30,46,9.200000,1,9,46.0

In [4]:
df2['balls_left'] = 120 - df2['ball_count']
df2['balls_left'] = df2['balls_left'].apply(lambda x:0 if x<0 else x)

In [5]:
df2 = df2.rename(columns={'batting':'batting_team','bowling':'bowling_team','score_x':'runs_x','balls_left':'ball_left'})

In [6]:
df2 =df2[['match_no','batting_team','bowling_team','city','current_score','ball_left','wickets_left','current_runrate','last_five','runs_x']]

In [7]:
df1.head(1)

,ID,total_run_x,index,overs,ballnumber,extra_type,total_run_y,BattingTeam,city,team1,...,outcome,BowlingTeam,player_dismissed,wickets_left,ball_bowled,total_ball_bowled,balls_left,current_score,current_runrate,last_five_over_runs
0,335982,222,225729,0,1,legbyes,1,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,...,NaN,Royal Challengers Bangalore,0,10,1,1,119,1,6.0,NaN

In [8]:
df1 = df1.rename(columns={'ID':'match_no','BattingTeam':'batting_team','BowlingTeam':'bowling_team','last_five_over_runs':'last_five','total_run_x':'runs_x','balls_left':'ball_left'})

In [9]:
df1=df1[['match_no','batting_team','bowling_team','city','current_score','ball_left','wickets_left','current_runrate','last_five','runs_x']]

In [10]:
 # Mergin the dataset
final_df = pd.concat([df1, df2], ignore_index=True)

In [11]:
final_df.dropna(inplace=True)

In [12]:
final_df

,match_no,batting_team,bowling_team,city,current_score,ball_left,wickets_left,current_runrate,last_five,runs_x
29,335982,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,59,92,10,12.642857,59.0,222
30,335982,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,60,91,10,12.413793,59.0,222
31,335982,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,60,90,10,12.000000,59.0,222
32,335982,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,61,89,10,11.806452,59.0,222
33,335982,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,61,88,9,11.437500,59.0,222
...,...,...,...,...,...,...,...,...,...,...
96065,74,['Gujarat Titans'],Chennai Super Kings,Ahmedabad,209,4,8,10.810345,81.0,211
96066,74,['Gujarat Titans'],Chennai Super Kings,Ahmedabad,209,3,7,10.717949,75.0,211
96067,74,['Gujarat Titans'],Chennai Super Kings,Ahmedabad,210,2,7,10.677966,76.0,211
96068,74,['Gujarat Titans'],Chennai Super Kings,Ahmedabad,211,1,7,10.638655,71.0,211
96069,74,['Gujarat Titans'],Chennai Super Kings,Ahmedabad,211,0,6,10.550000,71.0,211

In [13]:
# final_df.to_csv('IPL finalDataset',index=True)

In [14]:
final_df.drop(columns=['match_no'],inplace =True)

In [15]:
final_df

,batting_team,bowling_team,city,current_score,ball_left,wickets_left,current_runrate,last_five,runs_x
29,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,59,92,10,12.642857,59.0,222
30,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,60,91,10,12.413793,59.0,222
31,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,60,90,10,12.000000,59.0,222
32,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,61,89,10,11.806452,59.0,222
33,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,61,88,9,11.437500,59.0,222
...,...,...,...,...,...,...,...,...,...
96065,['Gujarat Titans'],Chennai Super Kings,Ahmedabad,209,4,8,10.810345,81.0,211
96066,['Gujarat Titans'],Chennai Super Kings,Ahmedabad,209,3,7,10.717949,75.0,211
96067,['Gujarat Titans'],Chennai Super Kings,Ahmedabad,210,2,7,10.677966,76.0,211
96068,['Gujarat Titans'],Chennai Super Kings,Ahmedabad,211,1,7,10.638655,71.0,211
96069,['Gujarat Titans'],Chennai Super Kings,Ahmedabad,211,0,6,10.550000,71.0,211

In [16]:
final_df['batting_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Sunrisers Hyderabad', 'Delhi Capitals',
       'Punjab Kings', 'Lucknow Super Giants', 'Gujarat Titans',
       "['Chennai Super Kings']", "['Punjab Kings']",
       "['Lucknow Super Giants']", "['Rajasthan Royals']",
       "['Mumbai Indians']", "['Delhi Capitals']",
       "['Kolkata Knight Riders']", "['Royal Challengers Bangalore']",
       "['Sunrisers Hyderabad']", "['Gujarat Titans']"], dtype=object)

In [17]:
final_df.replace("['Chennai Super Kings']", 'Chennai Super Kings', inplace=True)

In [18]:
final_df.replace("['Punjab Kings']",'Punjab Kings', inplace=True)

In [19]:
final_df.replace("['Lucknow Super Giants']",'Lucknow Super Giants', inplace=True)

In [20]:
final_df.replace( "['Rajasthan Royals']",'Rajasthan Royals', inplace=True)

In [21]:
final_df.replace( "['Mumbai Indians']",'Mumbai Indians', inplace=True)

In [22]:
final_df.replace( "['Delhi Capitals']",'Delhi Capitals', inplace=True)

In [23]:
final_df.replace( 'Delhi Daredevils','Delhi Capitals', inplace=True)

In [24]:
final_df.replace(  "['Kolkata Knight Riders']",'Kolkata Knight Riders', inplace=True)

In [25]:
final_df.replace("['Royal Challengers Bangalore']",'Royal Challengers Bangalore', inplace=True)

In [26]:
final_df.replace("['Sunrisers Hyderabad']",'Sunrisers Hyderabad', inplace=True)

In [27]:
final_df.replace('Kochi Tuskers Kerala','Sunrisers Hyderabad', inplace=True)

In [28]:
final_df.replace("['Gujarat Titans']",'Gujarat Titans', inplace=True)

In [29]:
final_df = final_df.sample(final_df.shape[0])

In [30]:
final_df

,batting_team,bowling_team,city,current_score,ball_left,wickets_left,current_runrate,last_five,runs_x
31223,Sunrisers Hyderabad,Rajasthan Royals,Jaipur,93,28,3,6.065217,25.0,144
92411,Kolkata Knight Riders,Royal Challengers Bangalore,Bengaluru,161,19,8,9.564356,55.0,200
78049,Rajasthan Royals,Royal Challengers Bangalore,Mumbai,31,88,7,5.812500,31.0,177
84278,Lucknow Super Giants,Mumbai Indians,Mumbai,56,65,9,6.109091,29.0,168
61736,Mumbai Indians,Kolkata Knight Riders,Kolkata,177,13,7,9.925234,65.0,210
...,...,...,...,...,...,...,...,...,...
84024,Gujarat Titans,Kolkata Knight Riders,Navi Mumbai,44,89,9,8.516129,41.0,156
42041,Chennai Super Kings,Delhi Capitals,Chennai,135,5,4,7.043478,23.0,150
31597,Royal Challengers Bangalore,Rajasthan Royals,Jaipur,124,23,6,7.670103,33.0,171
19632,Kings XI Punjab,Royal Challengers Bangalore,Dharamsala,120,51,9,10.434783,79.0,232
3406,Delhi Capitals,Chennai Super Kings,Delhi,119,35,8,8.400000,38.0,187

In [31]:
final_df['bowling_team'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Mumbai Indians', 'Kolkata Knight Riders', 'Sunrisers Hyderabad',
       'Delhi Capitals', 'Punjab Kings', 'Chennai Super Kings',
       'Lucknow Super Giants', 'Gujarat Titans'], dtype=object)

In [32]:
final_df['city'].unique()

array(['Jaipur', 'Bengaluru', 'Mumbai', 'Kolkata', 'Hyderabad',
       'Chandigarh', 'Chennai', 'Ahmedabad', 'Delhi', 'Bangalore',
       'Stadium', 'Raipur', 'Lucknow', 'Dharamsala', 'Indore', 'Pune',
       'Cuttack', 'Navi Mumbai', 'Visakhapatnam', 'Ranchi', 'Guwahati'],
      dtype=object)

In [33]:
final_df = final_df.drop(final_df[final_df['city'] == 'Navi Mumbai'].index)
final_df = final_df.drop(final_df[final_df['city'] == 'Visakhapatnam'].index)

In [34]:
final_df = final_df.drop(final_df[final_df['city'] == 'Indore'].index)

In [35]:
final_df = final_df.groupby('city').filter(lambda x: len(x) >= 562)

In [36]:
final_df['city'].value_counts()

Mumbai        14384
Kolkata        7561
Delhi          7361
Chennai        6944
Hyderabad      6031
Bangalore      5222
Chandigarh     5121
Stadium        4864
Jaipur         4649
Ahmedabad      2650
Pune           2299
Bengaluru      2002
Dharamsala     1047
Lucknow         656
Name: city, dtype: int64

In [37]:
final_df = final_df.sample(final_df.shape[0])

In [38]:
final_df

,batting_team,bowling_team,city,current_score,ball_left,wickets_left,current_runrate,last_five,runs_x
32585,Mumbai Indians,Chennai Super Kings,Mumbai,90,26,5,5.744681,40.0,139
54189,Sunrisers Hyderabad,Punjab Kings,Hyderabad,50,65,8,5.454545,28.0,159
17465,Mumbai Indians,Punjab Kings,Mumbai,110,32,8,7.500000,45.0,159
32710,Sunrisers Hyderabad,Royal Challengers Bangalore,Bangalore,122,23,7,7.546392,58.0,161
25752,Rajasthan Royals,Chennai Super Kings,Jaipur,65,58,6,6.290323,37.0,126
...,...,...,...,...,...,...,...,...,...
91819,Gujarat Titans,Lucknow Super Giants,Lucknow,89,37,7,6.433735,30.0,135
50383,Mumbai Indians,Punjab Kings,Chandigarh,79,57,9,7.523810,44.0,189
69,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,108,52,9,9.529412,45.0,222
42770,Royal Challengers Bangalore,Sunrisers Hyderabad,Bangalore,114,30,6,7.600000,37.0,166
73350,Delhi Capitals,Royal Challengers Bangalore,Stadium,87,57,8,8.285714,30.0,196

# Splitting the data into trainning data and testing data

In [39]:
# Splitting the model into training and testing
X = final_df.drop(columns=['runs_x'])
y = final_df['runs_x']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

# Training the model

In [40]:
from sklearn.compose import ColumnTransformer
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import r2_score,mean_absolute_error
from sklearn.pipeline import Pipeline

In [41]:
trf = ColumnTransformer([
    ('trf1',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [42]:
from sklearn.linear_model import LinearRegression
pipe_linear_regression = Pipeline(steps=[
    ('step',trf),
    ('scaling', StandardScaler()), 
    ('linear_regression', LinearRegression())
    ])

In [43]:
pipe_linear_regression.fit(X_train, y_train)
y_pred = pipe_linear_regression.predict(X_test)

C:\Users\ADMIN\AppData\Roaming\Python\Python39\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [44]:
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.6419584788082524
13.430395514296633

### Lasso Regression

In [45]:
from sklearn.linear_model import Lasso

pipe_lasso_regression = Pipeline(steps=[
    ('step',trf),
    ('scaling', StandardScaler()), 
    ('lasso_regression', Lasso(alpha=1.0))
    ])

In [46]:
pipe_lasso_regression.fit(X_train, y_train)
y_pred = pipe_lasso_regression.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

C:\Users\ADMIN\AppData\Roaming\Python\Python39\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.6098548762185585
14.033585274996963

### Elastic Regression

In [47]:
from sklearn.linear_model import ElasticNet

pipe_elastic_net_regression = Pipeline(steps=[
    ('step',trf),
    ('scaling', StandardScaler()),  # StandardScaler is optional but can be beneficial for elastic net regression
    ('elastic_net_regression', ElasticNet(alpha=1.0, l1_ratio=0.5))
])

pipe_elastic_net_regression.fit(X_train, y_train)
y_pred = pipe_elastic_net_regression.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

C:\Users\ADMIN\AppData\Roaming\Python\Python39\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.5694699270855423
15.084844086321468

### Random Forest Regression:

In [48]:
from sklearn.ensemble import RandomForestRegressor

pipe_random_forest_regression = Pipeline(steps=[
    ('step',trf),
    ('random_forest_regression', RandomForestRegressor(n_estimators=100, random_state=1))
])
pipe_random_forest_regression.fit(X_train, y_train)
y_pred = pipe_random_forest_regression.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

C:\Users\ADMIN\AppData\Roaming\Python\Python39\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.9517657188382439
3.437118675989359

### Support Vector Regression (SVR):

In [49]:
from sklearn.svm import SVR

pipe_svr_regression = Pipeline(steps=[
    ('step',trf),
    ('scaling', StandardScaler()),  # StandardScaler is usually beneficial for SVR
    ('svr_regression', SVR(kernel='linear'))
])

pipe_svr_regression.fit(X_train, y_train)
y_pred = pipe_svr_regression.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

C:\Users\ADMIN\AppData\Roaming\Python\Python39\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.6363872485499196
13.189834335664328

In [50]:
final = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,random_state=1,max_depth=12))   
    
])

In [51]:
final.fit(X_train,y_train)
y_pred = final.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

C:\Users\ADMIN\AppData\Roaming\Python\Python39\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.9659025489043381
2.8440281291223193

In [52]:
import pickle

In [54]:
pickle.dump(final,open('final1.pkl','wb'))