In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("C:\\Users\\ADMIN\\Downloads\\Cricket csv\\2023\\each_match_records.csv")
df2 = pd.read_csv("C:\\Users\\ADMIN\\Downloads\\Cricket csv\\2023\\each_ball_records.csv")

In [3]:
df1 = df1.rename(columns={'match_number':'match_no'})

In [4]:
merge_df = df1.merge(df2,on ='match_no')

In [5]:
merge_df

,season,date,match_no,match_type,venue,location,team1,team2,toss_won,toss_decision,...,winner_wickets,man_of_match,ballnumber,inningno,over,outcome,batter,bowler,comment,score
0,2023,31-03-2023,1,Group,Narendra Modi Stadium,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,...,5.0,Rashid Khan,1,1,0.1,0,Devon Conway,Mohammed Shami,"Mohammed Shami to Devon Conway, no run,",0
1,2023,31-03-2023,1,Group,Narendra Modi Stadium,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,...,5.0,Rashid Khan,2,1,0.2,1lb,Devon Conway,Mohammed Shami,"Mohammed Shami to Devon Conway, 1 leg bye,",1
2,2023,31-03-2023,1,Group,Narendra Modi Stadium,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,...,5.0,Rashid Khan,3,1,0.3,0,Ruturaj Gaikwad,Mohammed Shami,"Mohammed Shami to Ruturaj Gaikwad, no run,",0
3,2023,31-03-2023,1,Group,Narendra Modi Stadium,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,...,5.0,Rashid Khan,4,1,0.4,1,Ruturaj Gaikwad,Mohammed Shami,"Mohammed Shami to Ruturaj Gaikwad, 1 run,",1
4,2023,31-03-2023,1,Group,Narendra Modi Stadium,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,...,5.0,Rashid Khan,5,1,0.5,0,Devon Conway,Mohammed Shami,"Mohammed Shami to Devon Conway, no run,",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17858,2023,29-05-2023,74,Final,Narendra Modi Stadium,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,...,5.0,DP Conway,95,2,0.1,0,Wriddhiman Saha,Deepak Chahar,"Deepak Chahar to Wriddhiman Saha, no run,",0
17859,2023,29-05-2023,74,Final,Narendra Modi Stadium,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,...,5.0,DP Conway,96,2,0.2,0,Wriddhiman Saha,Deepak Chahar,"Deepak Chahar to Wriddhiman Saha, no run,",0
17860,2023,29-05-2023,74,Final,Narendra Modi Stadium,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,...,5.0,DP Conway,97,2,0.3,1,Wriddhiman Saha,Deepak Chahar,"Deepak Chahar to Wriddhiman Saha, 1 run,",1
17861,2023,29-05-2023,74,Final,Narendra Modi Stadium,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,...,5.0,DP Conway,98,2,0.4,1,Shubman Gill,Deepak Chahar,"Deepak Chahar to Shubman Gill, 1 run,",1
17862,2023,29-05-2023,74,Final,Narendra Modi Stadium,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,...,5.0,DP Conway,99,2,0.5,1,Wriddhiman Saha,Deepak Chahar,"Deepak Chahar to Wriddhiman Saha, 1 run,",1

In [6]:
merge_df.drop(columns=['season','date','match_type','venue','umpire1','umpire2',
                      'reserve_umpire','match_referee','winner','winner_runs','winner_runs','winner_wickets'
                      ],inplace=True)

In [7]:
merge_df.head(3)

,match_no,location,team1,team2,toss_won,toss_decision,man_of_match,ballnumber,inningno,over,outcome,batter,bowler,comment,score
0,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,Rashid Khan,1,1,0.1,0,Devon Conway,Mohammed Shami,"Mohammed Shami to Devon Conway, no run,",0
1,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,Rashid Khan,2,1,0.2,1lb,Devon Conway,Mohammed Shami,"Mohammed Shami to Devon Conway, 1 leg bye,",1
2,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,Rashid Khan,3,1,0.3,0,Ruturaj Gaikwad,Mohammed Shami,"Mohammed Shami to Ruturaj Gaikwad, no run,",0

In [8]:
merge_df.drop(columns=['man_of_match'],inplace=True)

In [9]:
merge_df = merge_df.rename(columns={'location':'city'})

In [10]:
merge_df['teams'] = merge_df.apply(lambda row :row['team2'] + ',' + row['team1'],axis=1)

In [11]:
merge_df.head(3)

,match_no,city,team1,team2,toss_won,toss_decision,ballnumber,inningno,over,outcome,batter,bowler,comment,score,teams
0,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,1,1,0.1,0,Devon Conway,Mohammed Shami,"Mohammed Shami to Devon Conway, no run,",0,"Gujarat Titans,Chennai Super Kings"
1,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,2,1,0.2,1lb,Devon Conway,Mohammed Shami,"Mohammed Shami to Devon Conway, 1 leg bye,",1,"Gujarat Titans,Chennai Super Kings"
2,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,3,1,0.3,0,Ruturaj Gaikwad,Mohammed Shami,"Mohammed Shami to Ruturaj Gaikwad, no run,",0,"Gujarat Titans,Chennai Super Kings"

In [12]:
merge_df.head(3)

,match_no,city,team1,team2,toss_won,toss_decision,ballnumber,inningno,over,outcome,batter,bowler,comment,score,teams
0,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,1,1,0.1,0,Devon Conway,Mohammed Shami,"Mohammed Shami to Devon Conway, no run,",0,"Gujarat Titans,Chennai Super Kings"
1,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,2,1,0.2,1lb,Devon Conway,Mohammed Shami,"Mohammed Shami to Devon Conway, 1 leg bye,",1,"Gujarat Titans,Chennai Super Kings"
2,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,3,1,0.3,0,Ruturaj Gaikwad,Mohammed Shami,"Mohammed Shami to Ruturaj Gaikwad, no run,",0,"Gujarat Titans,Chennai Super Kings"

In [13]:
merge_df['toss_decision'].value_counts()

field    12812
bat       5051
Name: toss_decision, dtype: int64

merge_df['batting_team'] = np.where(merge_df['toss_decision'] == 'bat', merge_df['team1'], merge_df['team2'])
merge_df['bowling_team'] = np.where(merge_df['toss_decision'] == 'bat', merge_df['team2'], merge_df['team1'])

def batting(row):
    if row['toss_won'] == row['team1'] and row['toss_decision'] == 'bat':
        return row['team1']
    elif row['toss_won'] == row['team2'] and row['toss_decision'] == 'bat':
        return row['team2']
    else:
        return ''

def field(row):
    if row['toss_won'] == row['team1'] and row['toss_decision'] == 'field':
        return row['team1']
    elif row['toss_won'] == row['team2'] and row['toss_decision'] == 'field':
        return row['team2']
    else:
        return ''

merge_df['batting_team'] = merge_df.apply(batting, axis=1)
merge_df['bowling_team'] = merge_df.apply(field, axis=1)

In [14]:
merge_df.isnull().sum()

match_no         0
city             0
team1            0
team2            0
toss_won         0
toss_decision    0
ballnumber       0
inningno         0
over             0
outcome          0
batter           0
bowler           0
comment          0
score            0
teams            0
dtype: int64

In [15]:
merge_df

,match_no,city,team1,team2,toss_won,toss_decision,ballnumber,inningno,over,outcome,batter,bowler,comment,score,teams
0,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,1,1,0.1,0,Devon Conway,Mohammed Shami,"Mohammed Shami to Devon Conway, no run,",0,"Gujarat Titans,Chennai Super Kings"
1,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,2,1,0.2,1lb,Devon Conway,Mohammed Shami,"Mohammed Shami to Devon Conway, 1 leg bye,",1,"Gujarat Titans,Chennai Super Kings"
2,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,3,1,0.3,0,Ruturaj Gaikwad,Mohammed Shami,"Mohammed Shami to Ruturaj Gaikwad, no run,",0,"Gujarat Titans,Chennai Super Kings"
3,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,4,1,0.4,1,Ruturaj Gaikwad,Mohammed Shami,"Mohammed Shami to Ruturaj Gaikwad, 1 run,",1,"Gujarat Titans,Chennai Super Kings"
4,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,5,1,0.5,0,Devon Conway,Mohammed Shami,"Mohammed Shami to Devon Conway, no run,",0,"Gujarat Titans,Chennai Super Kings"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17858,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,95,2,0.1,0,Wriddhiman Saha,Deepak Chahar,"Deepak Chahar to Wriddhiman Saha, no run,",0,"Gujarat Titans,Chennai Super Kings"
17859,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,96,2,0.2,0,Wriddhiman Saha,Deepak Chahar,"Deepak Chahar to Wriddhiman Saha, no run,",0,"Gujarat Titans,Chennai Super Kings"
17860,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,97,2,0.3,1,Wriddhiman Saha,Deepak Chahar,"Deepak Chahar to Wriddhiman Saha, 1 run,",1,"Gujarat Titans,Chennai Super Kings"
17861,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,98,2,0.4,1,Shubman Gill,Deepak Chahar,"Deepak Chahar to Shubman Gill, 1 run,",1,"Gujarat Titans,Chennai Super Kings"
17862,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,99,2,0.5,1,Wriddhiman Saha,Deepak Chahar,"Deepak Chahar to Wriddhiman Saha, 1 run,",1,"Gujarat Titans,Chennai Super Kings"

In [16]:
merge_df.head(10)

,match_no,city,team1,team2,toss_won,toss_decision,ballnumber,inningno,over,outcome,batter,bowler,comment,score,teams
0,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,1,1,0.1,0,Devon Conway,Mohammed Shami,"Mohammed Shami to Devon Conway, no run,",0,"Gujarat Titans,Chennai Super Kings"
1,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,2,1,0.2,1lb,Devon Conway,Mohammed Shami,"Mohammed Shami to Devon Conway, 1 leg bye,",1,"Gujarat Titans,Chennai Super Kings"
2,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,3,1,0.3,0,Ruturaj Gaikwad,Mohammed Shami,"Mohammed Shami to Ruturaj Gaikwad, no run,",0,"Gujarat Titans,Chennai Super Kings"
3,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,4,1,0.4,1,Ruturaj Gaikwad,Mohammed Shami,"Mohammed Shami to Ruturaj Gaikwad, 1 run,",1,"Gujarat Titans,Chennai Super Kings"
4,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,5,1,0.5,0,Devon Conway,Mohammed Shami,"Mohammed Shami to Devon Conway, no run,",0,"Gujarat Titans,Chennai Super Kings"
5,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,6,1,0.6,0,Devon Conway,Mohammed Shami,"Mohammed Shami to Devon Conway, no run,",0,"Gujarat Titans,Chennai Super Kings"
6,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,7,1,1.1,4,Ruturaj Gaikwad,Hardik Pandya,"Hardik Pandya to Ruturaj Gaikwad, Four,",4,"Gujarat Titans,Chennai Super Kings"
7,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,8,1,1.2,0,Ruturaj Gaikwad,Hardik Pandya,"Hardik Pandya to Ruturaj Gaikwad, no run,",0,"Gujarat Titans,Chennai Super Kings"
8,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,9,1,1.3,4,Ruturaj Gaikwad,Hardik Pandya,"Hardik Pandya to Ruturaj Gaikwad, Four,",4,"Gujarat Titans,Chennai Super Kings"
9,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,10,1,1.4,1,Ruturaj Gaikwad,Hardik Pandya,"Hardik Pandya to Ruturaj Gaikwad, 1 run,",1,"Gujarat Titans,Chennai Super Kings"

In [17]:
t1_list = []
t2_list = []

# Iterate through each row in the DataFrame
for index, row in merge_df.iterrows():
    toss_won_team = row['toss_won']
    teams_list = row['teams'].split(',')  # Convert the string to a list
    
    # Check if toss_won_team is in the teams_list
    if toss_won_team in teams_list:
        t1_list.append(toss_won_team)
        # Remove the toss_won_team from the list to get the remaining teams
        teams_list.remove(toss_won_team)
        t2_list.append(teams_list)
    else:
        t1_list.append(None)  # If t2 has the value, t1 should be None
        t2_list.append(teams_list)

# Add the t1 and t2 lists as new columns in the DataFrame
merge_df['t1'] = t1_list
merge_df['t2'] = t2_list

In [18]:
for index, row in merge_df.iterrows():
    if row['toss_decision'] == 'bat':
        merge_df.at[index, 'batting'] = row['t1']
        merge_df.at[index, 'bowling'] = None
    elif row['toss_decision'] == 'field':
        merge_df.at[index, 'batting'] = None
        merge_df.at[index, 'bowling'] = row['t1']

    # Apply the conditions for t2 batting and bowling
    if row['toss_decision'] == 'bat':
        merge_df.at[index, 'bowling'] = row['t2']
        merge_df.at[index, 'batting'] = None
    elif row['toss_decision'] == 'field':
        merge_df.at[index, 'bowling'] = None
        merge_df.at[index, 'batting'] = row['t2']

In [19]:
merge_df['batting'] = merge_df.apply(lambda row: row['t1'] if row['toss_decision'] == 'bat' else row['t2'], axis=1)
merge_df['bowling'] = merge_df.apply(lambda row: row['t2'] if row['toss_decision'] == 'bat' else row['t1'], axis=1)

In [20]:
merge_df.sample(6)

,match_no,city,team1,team2,toss_won,toss_decision,ballnumber,inningno,over,outcome,batter,bowler,comment,score,teams,t1,t2,batting,bowling
15777,66,Dharamsala,Punjab Kings,Rajasthan Royals,Rajasthan Royals,field,102,1,16.1,1,Shahrukh Khan,Adam Zampa,"Adam Zampa to Shahrukh Khan, 1 run,",1,"Rajasthan Royals,Punjab Kings",Rajasthan Royals,[Punjab Kings],[Punjab Kings],Rajasthan Royals
11466,48,Jaipur,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,bat,55,1,8.6,1,Riyan Parag,Josh Little,"Josh Little to Riyan Parag, 1 run,",1,"Gujarat Titans,Rajasthan Royals",Rajasthan Royals,[Gujarat Titans],Rajasthan Royals,[Gujarat Titans]
3734,16,Delhi,Delhi Capitals,Mumbai Indians,Mumbai Indians,field,106,1,16.5,0,Axar Patel,Jason Behrendorff,"Jason Behrendorff to Axar Patel, no run,",0,"Mumbai Indians,Delhi Capitals",Mumbai Indians,[Delhi Capitals],[Delhi Capitals],Mumbai Indians
9737,40,Delhi,Sunrisers Hyderabad,Delhi Capitals,Sunrisers Hyderabad,bat,69,2,11.3,1,Manish Pandey,Mayank Markande,"Mayank Markande to Manish Pandey, 1 run,",1,"Delhi Capitals,Sunrisers Hyderabad",Sunrisers Hyderabad,[Delhi Capitals],Sunrisers Hyderabad,[Delhi Capitals]
3498,15,Bengaluru,Royal Challengers Bangalore,Lucknow Super Giants,Lucknow Super Giants,field,123,1,19.5,w,Glenn Maxwell,Mark Wood,"Mark Wood to Glenn Maxwell, no run, ...",0,"Lucknow Super Giants,Royal Challengers Bangalore",Lucknow Super Giants,[Royal Challengers Bangalore],[Royal Challengers Bangalore],Lucknow Super Giants
11900,50,Delhi,Royal Challengers Bangalore,Delhi Capitals,Royal Challengers Bangalore,bat,60,1,9.6,1,Faf du Plessis,Kuldeep Yadav,"Kuldeep Yadav to Faf du Plessis, 1 run,",1,"Delhi Capitals,Royal Challengers Bangalore",Royal Challengers Bangalore,[Delhi Capitals],Royal Challengers Bangalore,[Delhi Capitals]

In [21]:
merge_df = pd.DataFrame(merge_df)

In [22]:
merge_df

,match_no,city,team1,team2,toss_won,toss_decision,ballnumber,inningno,over,outcome,batter,bowler,comment,score,teams,t1,t2,batting,bowling
0,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,1,1,0.1,0,Devon Conway,Mohammed Shami,"Mohammed Shami to Devon Conway, no run,",0,"Gujarat Titans,Chennai Super Kings",Gujarat Titans,[Chennai Super Kings],[Chennai Super Kings],Gujarat Titans
1,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,2,1,0.2,1lb,Devon Conway,Mohammed Shami,"Mohammed Shami to Devon Conway, 1 leg bye,",1,"Gujarat Titans,Chennai Super Kings",Gujarat Titans,[Chennai Super Kings],[Chennai Super Kings],Gujarat Titans
2,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,3,1,0.3,0,Ruturaj Gaikwad,Mohammed Shami,"Mohammed Shami to Ruturaj Gaikwad, no run,",0,"Gujarat Titans,Chennai Super Kings",Gujarat Titans,[Chennai Super Kings],[Chennai Super Kings],Gujarat Titans
3,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,4,1,0.4,1,Ruturaj Gaikwad,Mohammed Shami,"Mohammed Shami to Ruturaj Gaikwad, 1 run,",1,"Gujarat Titans,Chennai Super Kings",Gujarat Titans,[Chennai Super Kings],[Chennai Super Kings],Gujarat Titans
4,1,Ahmedabad,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,5,1,0.5,0,Devon Conway,Mohammed Shami,"Mohammed Shami to Devon Conway, no run,",0,"Gujarat Titans,Chennai Super Kings",Gujarat Titans,[Chennai Super Kings],[Chennai Super Kings],Gujarat Titans
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17858,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,95,2,0.1,0,Wriddhiman Saha,Deepak Chahar,"Deepak Chahar to Wriddhiman Saha, no run,",0,"Gujarat Titans,Chennai Super Kings",Chennai Super Kings,[Gujarat Titans],[Gujarat Titans],Chennai Super Kings
17859,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,96,2,0.2,0,Wriddhiman Saha,Deepak Chahar,"Deepak Chahar to Wriddhiman Saha, no run,",0,"Gujarat Titans,Chennai Super Kings",Chennai Super Kings,[Gujarat Titans],[Gujarat Titans],Chennai Super Kings
17860,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,97,2,0.3,1,Wriddhiman Saha,Deepak Chahar,"Deepak Chahar to Wriddhiman Saha, 1 run,",1,"Gujarat Titans,Chennai Super Kings",Chennai Super Kings,[Gujarat Titans],[Gujarat Titans],Chennai Super Kings
17861,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,98,2,0.4,1,Shubman Gill,Deepak Chahar,"Deepak Chahar to Shubman Gill, 1 run,",1,"Gujarat Titans,Chennai Super Kings",Chennai Super Kings,[Gujarat Titans],[Gujarat Titans],Chennai Super Kings
17862,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,99,2,0.5,1,Wriddhiman Saha,Deepak Chahar,"Deepak Chahar to Wriddhiman Saha, 1 run,",1,"Gujarat Titans,Chennai Super Kings",Chennai Super Kings,[Gujarat Titans],[Gujarat Titans],Chennai Super Kings

In [23]:
merge_df.drop(columns=['team1','team2','toss_won','toss_decision','comment','teams'],inplace=True)

In [24]:
merge_df = merge_df[merge_df['inningno']==1]

In [25]:
merge_df['score'].unique()

array([0, 1, 4, 6, 2, 5, 3, 7], dtype=int64)

In [26]:
merge_df.drop(columns=['inningno'],inplace=True)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6880\1452269927.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df.drop(columns=['inningno'],inplace=True)

In [27]:
merge_df

,match_no,city,ballnumber,over,outcome,batter,bowler,score,t1,t2,batting,bowling
0,1,Ahmedabad,1,0.1,0,Devon Conway,Mohammed Shami,0,Gujarat Titans,[Chennai Super Kings],[Chennai Super Kings],Gujarat Titans
1,1,Ahmedabad,2,0.2,1lb,Devon Conway,Mohammed Shami,1,Gujarat Titans,[Chennai Super Kings],[Chennai Super Kings],Gujarat Titans
2,1,Ahmedabad,3,0.3,0,Ruturaj Gaikwad,Mohammed Shami,0,Gujarat Titans,[Chennai Super Kings],[Chennai Super Kings],Gujarat Titans
3,1,Ahmedabad,4,0.4,1,Ruturaj Gaikwad,Mohammed Shami,1,Gujarat Titans,[Chennai Super Kings],[Chennai Super Kings],Gujarat Titans
4,1,Ahmedabad,5,0.5,0,Devon Conway,Mohammed Shami,0,Gujarat Titans,[Chennai Super Kings],[Chennai Super Kings],Gujarat Titans
...,...,...,...,...,...,...,...,...,...,...,...,...
17759,74,Ahmedabad,113,19.2,6,Sai Sudharsan,Matheesha Pathirana,6,Chennai Super Kings,[Gujarat Titans],[Gujarat Titans],Chennai Super Kings
17760,74,Ahmedabad,114,19.3,w,Sai Sudharsan,Matheesha Pathirana,0,Chennai Super Kings,[Gujarat Titans],[Gujarat Titans],Chennai Super Kings
17761,74,Ahmedabad,115,19.4,1b,Rashid Khan,Matheesha Pathirana,1,Chennai Super Kings,[Gujarat Titans],[Gujarat Titans],Chennai Super Kings
17762,74,Ahmedabad,116,19.5,1lb,Hardik Pandya,Matheesha Pathirana,1,Chennai Super Kings,[Gujarat Titans],[Gujarat Titans],Chennai Super Kings
17763,74,Ahmedabad,117,19.6,w,Rashid Khan,Matheesha Pathirana,0,Chennai Super Kings,[Gujarat Titans],[Gujarat Titans],Chennai Super Kings

In [28]:
merge_df['over_no'] = merge_df['over'].apply(lambda x: int(x) if isinstance(x, int) else int(str(x).split(".")[0]))

def get_ball_no(x):
    if isinstance(x, int):
        return 0
    else:
        split_result = str(x).split(".")
        if len(split_result) > 1:
            return int(split_result[1])
        else:
            return 0  # Default value for ball number if dot is not found

merge_df['ball_no'] = merge_df['over'].apply(get_ball_no)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6880\2467061313.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df['over_no'] = merge_df['over'].apply(lambda x: int(x) if isinstance(x, int) else int(str(x).split(".")[0]))
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6880\2467061313.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df['ball_no'] = merge_df['over'].apply(get_ball_no)

In [29]:
merge_df['ball_count'] = (merge_df['over'].astype('int')*6) + merge_df['ball_no'].astype('int')

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6880\3288695405.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df['ball_count'] = (merge_df['over'].astype('int')*6) + merge_df['ball_no'].astype('int')

In [30]:
merge_df

,match_no,city,ballnumber,over,outcome,batter,bowler,score,t1,t2,batting,bowling,over_no,ball_no,ball_count
0,1,Ahmedabad,1,0.1,0,Devon Conway,Mohammed Shami,0,Gujarat Titans,[Chennai Super Kings],[Chennai Super Kings],Gujarat Titans,0,1,1
1,1,Ahmedabad,2,0.2,1lb,Devon Conway,Mohammed Shami,1,Gujarat Titans,[Chennai Super Kings],[Chennai Super Kings],Gujarat Titans,0,2,2
2,1,Ahmedabad,3,0.3,0,Ruturaj Gaikwad,Mohammed Shami,0,Gujarat Titans,[Chennai Super Kings],[Chennai Super Kings],Gujarat Titans,0,3,3
3,1,Ahmedabad,4,0.4,1,Ruturaj Gaikwad,Mohammed Shami,1,Gujarat Titans,[Chennai Super Kings],[Chennai Super Kings],Gujarat Titans,0,4,4
4,1,Ahmedabad,5,0.5,0,Devon Conway,Mohammed Shami,0,Gujarat Titans,[Chennai Super Kings],[Chennai Super Kings],Gujarat Titans,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17759,74,Ahmedabad,113,19.2,6,Sai Sudharsan,Matheesha Pathirana,6,Chennai Super Kings,[Gujarat Titans],[Gujarat Titans],Chennai Super Kings,19,2,116
17760,74,Ahmedabad,114,19.3,w,Sai Sudharsan,Matheesha Pathirana,0,Chennai Super Kings,[Gujarat Titans],[Gujarat Titans],Chennai Super Kings,19,3,117
17761,74,Ahmedabad,115,19.4,1b,Rashid Khan,Matheesha Pathirana,1,Chennai Super Kings,[Gujarat Titans],[Gujarat Titans],Chennai Super Kings,19,4,118
17762,74,Ahmedabad,116,19.5,1lb,Hardik Pandya,Matheesha Pathirana,1,Chennai Super Kings,[Gujarat Titans],[Gujarat Titans],Chennai Super Kings,19,5,119
17763,74,Ahmedabad,117,19.6,w,Rashid Khan,Matheesha Pathirana,0,Chennai Super Kings,[Gujarat Titans],[Gujarat Titans],Chennai Super Kings,19,6,120

In [31]:
merge_df['current_score'] = merge_df.groupby('match_no').cumsum()['score']

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6880\3213215607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df['current_score'] = merge_df.groupby('match_no').cumsum()['score']

In [32]:
merge_df['current_score'].unique()

array([  0,   1,   2,   6,  10,  11,  12,  13,  14,  20,  24,  25,  29,
        30,  34,  35,  41,  45,  46,  50,  51,  52,  58,  64,  65,  66,
        70,  71,  72,  78,  84,  90,  91,  92,  93,  94, 100, 101, 107,
       108, 114, 115, 116, 120, 121, 122, 123, 124, 125, 126, 127, 131,
       132, 133, 134, 135, 136, 138, 140, 146, 148, 149, 150, 151, 152,
       153, 154, 155, 157, 163, 164, 165, 166, 167, 173, 177, 178,   8,
         9,  17,  23,  28,  32,  33,  36,  40,  44,  56,  62,  68,  69,
        75,  76,  77,  79,  80,  85,  95,  96,  97,  98,  99, 104, 105,
       109, 110, 111, 112, 113, 128, 129, 139, 142, 143, 144, 147, 156,
       158, 168, 169, 170, 171, 175, 176, 180, 181, 187, 189, 191,   4,
         7,  19,  21,  26,  27,  31,  37,  38,  39,  57,  60,  61,  63,
        73,  74,  86,  87,  89, 102, 103, 117, 130, 137, 141, 172, 174,
       193,   5,  16,  43,  49,  54,  81,  88, 106, 159, 160, 182, 186,
       192, 195, 197, 201, 203,  18,  42,  48,  53,  55,  59,  82,  83,
       145, 162,   3,  22, 118, 119, 184, 185, 194, 196, 202, 209, 215,
       216, 217,  47,  67, 161, 188, 190, 179, 198, 204,  15, 183, 199,
       200, 205, 211, 212, 206, 207, 219, 220, 226, 227, 228, 208, 210,
       213, 214, 223, 224, 225, 218, 232, 233, 235, 222, 229, 239, 241,
       245, 246, 250, 251, 255, 256, 257, 221], dtype=int64)

In [33]:
merge_df['current_runrate'] = (merge_df['current_score']/merge_df['ball_count'])*6

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6880\4015377365.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df['current_runrate'] = (merge_df['current_score']/merge_df['ball_count'])*6

In [34]:
merge_df

,match_no,city,ballnumber,over,outcome,batter,bowler,score,t1,t2,batting,bowling,over_no,ball_no,ball_count,current_score,current_runrate
0,1,Ahmedabad,1,0.1,0,Devon Conway,Mohammed Shami,0,Gujarat Titans,[Chennai Super Kings],[Chennai Super Kings],Gujarat Titans,0,1,1,0,0.000000
1,1,Ahmedabad,2,0.2,1lb,Devon Conway,Mohammed Shami,1,Gujarat Titans,[Chennai Super Kings],[Chennai Super Kings],Gujarat Titans,0,2,2,1,3.000000
2,1,Ahmedabad,3,0.3,0,Ruturaj Gaikwad,Mohammed Shami,0,Gujarat Titans,[Chennai Super Kings],[Chennai Super Kings],Gujarat Titans,0,3,3,1,2.000000
3,1,Ahmedabad,4,0.4,1,Ruturaj Gaikwad,Mohammed Shami,1,Gujarat Titans,[Chennai Super Kings],[Chennai Super Kings],Gujarat Titans,0,4,4,2,3.000000
4,1,Ahmedabad,5,0.5,0,Devon Conway,Mohammed Shami,0,Gujarat Titans,[Chennai Super Kings],[Chennai Super Kings],Gujarat Titans,0,5,5,2,2.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17759,74,Ahmedabad,113,19.2,6,Sai Sudharsan,Matheesha Pathirana,6,Chennai Super Kings,[Gujarat Titans],[Gujarat Titans],Chennai Super Kings,19,2,116,209,10.810345
17760,74,Ahmedabad,114,19.3,w,Sai Sudharsan,Matheesha Pathirana,0,Chennai Super Kings,[Gujarat Titans],[Gujarat Titans],Chennai Super Kings,19,3,117,209,10.717949
17761,74,Ahmedabad,115,19.4,1b,Rashid Khan,Matheesha Pathirana,1,Chennai Super Kings,[Gujarat Titans],[Gujarat Titans],Chennai Super Kings,19,4,118,210,10.677966
17762,74,Ahmedabad,116,19.5,1lb,Hardik Pandya,Matheesha Pathirana,1,Chennai Super Kings,[Gujarat Titans],[Gujarat Titans],Chennai Super Kings,19,5,119,211,10.638655
17763,74,Ahmedabad,117,19.6,w,Rashid Khan,Matheesha Pathirana,0,Chennai Super Kings,[Gujarat Titans],[Gujarat Titans],Chennai Super Kings,19,6,120,211,10.550000

In [35]:
merge_df['player_dismissed'] = merge_df['outcome'].apply(lambda x:1 if x=='w' else 0)
merge_df['player_dismissed'] = merge_df['player_dismissed'].astype(int)
merge_df['player_dismissed'] = merge_df.groupby('match_no').cumsum()['player_dismissed']
merge_df['wickets_left'] = 10 - merge_df['player_dismissed']

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6880\3960496293.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df['player_dismissed'] = merge_df['outcome'].apply(lambda x:1 if x=='w' else 0)
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6880\3960496293.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df['player_dismissed'] = merge_df['player_dismissed'].astype(int)
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6880\3960496293.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df['player_dismissed'] = merge_df.groupby('match_no').cumsum()['player_dismissed']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6880\3960496293.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df['wickets_left'] = 10 - merge_df['player_dismissed']

In [36]:
# Last five overs runrate
groups = merge_df.groupby('match_no')

match_ids = merge_df['match_no'].unique()
last_five = []
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30).sum()['score'].values.tolist())

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6880\4226353539.py:7: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['batter', 'batting', 'bowler', 'bowling', 'city', 'outcome', 't1',
       't2'],
      dtype='object')
  last_five.extend(groups.get_group(id).rolling(window=30).sum()['score'].values.tolist())

In [37]:
merge_df['last_five'] = last_five

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6880\3364720482.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df['last_five'] = last_five

merge_df

In [38]:
merge_df['outcome'].value_counts()

1      3473
0      2469
4      1122
6       592
2       577
w       455
1wd     292
1lb     108
3        31
2nb      19
2wd      17
1nb      15
1b       13
5wd      13
4lb      10
5nb       8
4b        8
7nb       6
2lb       4
3nb       3
3wd       2
Name: outcome, dtype: int64

In [39]:
merge_df.isnull().sum()

match_no               0
city                   0
ballnumber             0
over                   0
outcome                0
batter                 0
bowler                 0
score                  0
t1                     0
t2                     0
batting                0
bowling                0
over_no                0
ball_no                0
ball_count             0
current_score          0
current_runrate        0
player_dismissed       0
wickets_left           0
last_five           2146
dtype: int64

In [40]:
merge_df = merge_df.groupby('match_no').sum()['score'].reset_index().merge(merge_df,on = 'match_no')

In [41]:
merge_df.dropna(inplace=True)

In [42]:
merge_df.isnull().sum()

match_no            0
score_x             0
city                0
ballnumber          0
over                0
outcome             0
batter              0
bowler              0
score_y             0
t1                  0
t2                  0
batting             0
bowling             0
over_no             0
ball_no             0
ball_count          0
current_score       0
current_runrate     0
player_dismissed    0
wickets_left        0
last_five           0
dtype: int64

In [ ]:
# merge_df.to_csv('2023.csv', index=False)