In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 =  pd.read_csv('C:\\Users\\ADMIN\\Downloads\\Cricket csv\\IPL_Ball_by_Ball_2008_2022.csv')
df2 = pd.read_csv('C:\\Users\\ADMIN\\Downloads\\Cricket csv\\ipl_match_info_data.csv')

In [3]:
df2.rename(columns={'match_id': 'ID'}, inplace=True)

In [4]:
merged_df = df1.merge(df2, on='ID')

In [5]:
merged_df.shape

(225954, 43)

In [6]:
merged_df.head(3)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,event,match_number,umpire1,umpire2,reserve_umpire,tv_umpire,match_referee,eliminator,method,date_1
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,Indian Premier League,NaN,CB Gaffaney,Nitin Menon,AK Chaudhary,KN Ananthapadmanabhan,J Srinath,NaN,NaN,NaN
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,...,Indian Premier League,NaN,CB Gaffaney,Nitin Menon,AK Chaudhary,KN Ananthapadmanabhan,J Srinath,NaN,NaN,NaN
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,...,Indian Premier League,NaN,CB Gaffaney,Nitin Menon,AK Chaudhary,KN Ananthapadmanabhan,J Srinath,NaN,NaN,NaN

In [7]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225954 entries, 0 to 225953
Data columns (total 43 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int64
 1   innings            225954 non-null  int64
 2   overs              225954 non-null  int64
 3   ballnumber         225954 non-null  int64
 4   batter             225954 non-null  object
 5   bowler             225954 non-null  object
 6   non-striker        225954 non-null  object
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
 17  season             225954 non-null  object
 18  date               225954 non-null  object
 19  city               213557 non-null  object
 20  venue              225954 non-null  object
 21  team1              225954 non-null  object
 22  team2              225954 non-null  object
 23  toss_winner        225954 non-null  object
 24  toss_decision      225954 non-null  object
 25  player_of_match    225582 non-null  object
 26  winner             221948 non-null  object
 27  winner_wickets     225954 non-null  int64
 28  winner_runs        225954 non-null  int64
 29  outcome            4006 non-null    object
 30  result_type        225954 non-null  object
 31  results            225954 non-null  int64
 32  gender             225954 non-null  object
 33  event              225954 non-null  object
 34  match_number       211956 non-null  float64
 35  umpire1            225954 non-null  object
 36  umpire2            225954 non-null  object
 37  reserve_umpire     220201 non-null  object
 38  tv_umpire          225265 non-null  object
 39  match_referee      225954 non-null  object
 40  eliminator         3634 non-null    object
 41  method             3208 non-null    object
 42  date_1             402 non-null     object
dtypes: float64(1), int64(12), object(30)
memory usage: 75.9+ MB

In [8]:
merged_df.drop(columns=['umpire1',
                        'umpire2',
                        'reserve_umpire',
                        'tv_umpire',
                        'match_referee',
                        'method',
                        'date_1',
                        'event'
],inplace=True)

In [9]:
merged_df.drop(columns=['eliminator','match_number','gender','results','result_type','winner_runs','winner_wickets','winner','player_of_match','toss_decision',
                       'toss_winner','date','season','fielders_involved','kind','extras_run','batsman_run','non-striker'
                       ],inplace=True)

In [10]:
merged_df

,ID,innings,overs,ballnumber,batter,bowler,extra_type,total_run,non_boundary,isWicketDelivery,player_out,BattingTeam,city,venue,team1,team2,outcome
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,NaN,0,0,0,NaN,Rajasthan Royals,Ahmedabad,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,NaN
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,legbyes,1,0,0,NaN,Rajasthan Royals,Ahmedabad,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,NaN
2,1312200,1,0,3,JC Buttler,Mohammed Shami,NaN,1,0,0,NaN,Rajasthan Royals,Ahmedabad,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,NaN
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,NaN,0,0,0,NaN,Rajasthan Royals,Ahmedabad,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,NaN
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,NaN,0,0,0,NaN,Rajasthan Royals,Ahmedabad,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,2,14,5,P Kumar,I Sharma,legbyes,1,0,0,NaN,Royal Challengers Bangalore,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,NaN
225950,335982,2,14,6,SB Joshi,I Sharma,NaN,1,0,0,NaN,Royal Challengers Bangalore,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,NaN
225951,335982,2,14,7,P Kumar,I Sharma,NaN,0,0,0,NaN,Royal Challengers Bangalore,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,NaN
225952,335982,2,15,1,SB Joshi,LR Shukla,wides,1,0,0,NaN,Royal Challengers Bangalore,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,NaN
225953,335982,2,15,2,SB Joshi,LR Shukla,NaN,0,0,1,SB Joshi,Royal Challengers Bangalore,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,NaN

In [11]:
merged_df['innings'].value_counts()

1    116883
2    108910
3        77
4        72
5         8
6         4
Name: innings, dtype: int64

In [12]:
merged_df = merged_df[merged_df['innings'] == 1]

In [13]:
merged_df

,ID,innings,overs,ballnumber,batter,bowler,extra_type,total_run,non_boundary,isWicketDelivery,player_out,BattingTeam,city,venue,team1,team2,outcome
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,NaN,0,0,0,NaN,Rajasthan Royals,Ahmedabad,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,NaN
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,legbyes,1,0,0,NaN,Rajasthan Royals,Ahmedabad,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,NaN
2,1312200,1,0,3,JC Buttler,Mohammed Shami,NaN,1,0,0,NaN,Rajasthan Royals,Ahmedabad,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,NaN
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,NaN,0,0,0,NaN,Rajasthan Royals,Ahmedabad,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,NaN
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,NaN,0,0,0,NaN,Rajasthan Royals,Ahmedabad,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225848,335982,1,19,2,BB McCullum,P Kumar,NaN,6,0,0,NaN,Kolkata Knight Riders,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,NaN
225849,335982,1,19,3,BB McCullum,P Kumar,NaN,2,0,0,NaN,Kolkata Knight Riders,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,NaN
225850,335982,1,19,4,BB McCullum,P Kumar,NaN,0,0,0,NaN,Kolkata Knight Riders,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,NaN
225851,335982,1,19,5,BB McCullum,P Kumar,NaN,2,0,0,NaN,Kolkata Knight Riders,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,NaN
225852,335982,1,19,6,BB McCullum,P Kumar,NaN,6,0,0,NaN,Kolkata Knight Riders,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,NaN

In [14]:
merged_df['team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [15]:
# Replace the name delhi daredevils with Delhi Capitals
merged_df['team1'] = merged_df['team1'].replace('Delhi Daredevils', 'Delhi Capitals')
merged_df['team2'] = merged_df['team2'].replace('Delhi Daredevils', 'Delhi Capitals')
merged_df['team1'] = merged_df['team1'].replace('Kings XI Punjab', 'Punjab Kings')
merged_df['team2'] = merged_df['team2'].replace('Kings XI Punjab', 'Punjab Kings')
merged_df['team1'] = merged_df['team1'].replace('Deccan Chargers', 'Sunrisers Hyderabad')
merged_df['team2'] = merged_df['team2'].replace('Deccan Chargers', 'Sunrisers Hyderabad')
merged_df['team1'] = merged_df['team1'].replace('Kochi Tuskers Kerala', 'Sunrisers Hyderabad')
merged_df['team2'] = merged_df['team2'].replace('Kochi Tuskers Kerala', 'Sunrisers Hyderabad')

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12756\2504971124.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['team1'] = merged_df['team1'].replace('Delhi Daredevils', 'Delhi Capitals')
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12756\2504971124.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['team2'] = merged_df['team2'].replace('Delhi Daredevils', 'Delhi Capitals')
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12756\2504971124.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['team1'] = merged_df['team1'].replace('Kings XI Punjab', 'Punjab Kings')
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12756\2504971124.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['team2'] = merged_df['team2'].replace('Kings XI Punjab', 'Punjab Kings')
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12756\2504971124.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['team1'] = merged_df['team1'].replace('Deccan Chargers', 'Sunrisers Hyderabad')
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12756\2504971124.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['team2'] = merged_df['team2'].replace('Deccan Chargers', 'Sunrisers Hyderabad')
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12756\2504971124.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['team1'] = merged_df['team1'].replace('Kochi Tuskers Kerala', 'Sunrisers Hyderabad')
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12756\2504971124.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['team2'] = merged_df['team2'].replace('Kochi Tuskers Kerala', 'Sunrisers Hyderabad')

In [16]:
# Need columns [match_no,over,current runrate,current score,wickets out ,last five overs runs,

In [17]:
merged_df = merged_df[merged_df['team1'] != 'Pune Warriors']
merged_df = merged_df[merged_df['team2'] != 'Pune Warriors']
merged_df = merged_df[merged_df['team1'] != 'Rising Pune Supergiants']
merged_df = merged_df[merged_df['team2'] != 'Rising Pune Supergiants']
merged_df = merged_df[merged_df['team1'] != 'Rising Pune Supergiant']
merged_df = merged_df[merged_df['team2'] != 'Rising Pune Supergiant']
merged_df = merged_df[merged_df['team1'] != 'Gujarat Lions']
merged_df = merged_df[merged_df['team2'] != 'Gujarat Lions']

In [18]:
merged_df['team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians'], dtype=object)

In [19]:
merged_df = merged_df[merged_df['city'] != 'Dubai']
merged_df = merged_df[merged_df['city'] != 'Sharjah']
merged_df = merged_df[merged_df['city'] != 'Abu Dhabi']
merged_df = merged_df[merged_df['city'] != 'Johannesburg']
merged_df = merged_df[merged_df['city'] != 'Centurion']
merged_df = merged_df[merged_df['city'] != 'Durban']
merged_df = merged_df[merged_df['city'] != 'Bloemfontein']
merged_df = merged_df[merged_df['city'] != 'Port Elizabeth']
merged_df = merged_df[merged_df['city'] != 'Kimberley']
merged_df = merged_df[merged_df['city'] != 'East London']
merged_df = merged_df[merged_df['city'] != 'Cape Town']

In [20]:
merged_df['city'].value_counts()

Mumbai           17879
Kolkata           9033
Delhi             8734
Chennai           7937
Hyderabad         7023
Bangalore         6875
Chandigarh        6084
Jaipur            5461
Pune              2995
Ahmedabad         2344
Bengaluru         1761
Visakhapatnam     1240
Navi Mumbai       1133
Dharamsala        1115
Indore             957
Cuttack            735
Ranchi             716
Raipur             614
Kochi              603
Nagpur             370
Name: city, dtype: int64

In [21]:
merged_df = merged_df[merged_df['city'] != 'Nagpur']
merged_df = merged_df[merged_df['city'] != 'Kochi']

In [22]:
cities = np.where(merged_df['city'].isnull(),merged_df['venue'].str.split().apply(lambda x:x[-1]),merged_df['city'])

In [23]:
merged_df['city'] = cities

In [24]:
merged_df.isnull().sum()

ID                      0
innings                 0
overs                   0
ballnumber              0
batter                  0
bowler                  0
extra_type          84120
total_run               0
non_boundary            0
isWicketDelivery        0
player_out          84615
BattingTeam             0
city                    0
venue                   0
team1                   0
team2                   0
outcome             87461
dtype: int64

In [25]:
merged_df

,ID,innings,overs,ballnumber,batter,bowler,extra_type,total_run,non_boundary,isWicketDelivery,player_out,BattingTeam,city,venue,team1,team2,outcome
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,NaN,0,0,0,NaN,Rajasthan Royals,Ahmedabad,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,NaN
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,legbyes,1,0,0,NaN,Rajasthan Royals,Ahmedabad,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,NaN
2,1312200,1,0,3,JC Buttler,Mohammed Shami,NaN,1,0,0,NaN,Rajasthan Royals,Ahmedabad,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,NaN
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,NaN,0,0,0,NaN,Rajasthan Royals,Ahmedabad,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,NaN
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,NaN,0,0,0,NaN,Rajasthan Royals,Ahmedabad,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225848,335982,1,19,2,BB McCullum,P Kumar,NaN,6,0,0,NaN,Kolkata Knight Riders,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,NaN
225849,335982,1,19,3,BB McCullum,P Kumar,NaN,2,0,0,NaN,Kolkata Knight Riders,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,NaN
225850,335982,1,19,4,BB McCullum,P Kumar,NaN,0,0,0,NaN,Kolkata Knight Riders,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,NaN
225851,335982,1,19,5,BB McCullum,P Kumar,NaN,2,0,0,NaN,Kolkata Knight Riders,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,NaN
225852,335982,1,19,6,BB McCullum,P Kumar,NaN,6,0,0,NaN,Kolkata Knight Riders,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,NaN

In [26]:
# Bowling team
merged_df['Teams'] = merged_df.apply(lambda row: row['team2'] + ',' + row['team1'], axis=1)

In [27]:
def get_bowling_team(row):
    teams = row['Teams'].split(',')
    return teams[0] if teams[0] != row['BattingTeam'] else teams[1]

In [28]:
merged_df['BowlingTeam'] = merged_df.apply(get_bowling_team, axis=1)

In [29]:
merged_df.drop(columns=['Teams'],inplace=True)

In [30]:
merged_df.drop(columns=['venue'],inplace = True)

In [31]:
merged_df

,ID,innings,overs,ballnumber,batter,bowler,extra_type,total_run,non_boundary,isWicketDelivery,player_out,BattingTeam,city,team1,team2,outcome,BowlingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,NaN,0,0,0,NaN,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,legbyes,1,0,0,NaN,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans
2,1312200,1,0,3,JC Buttler,Mohammed Shami,NaN,1,0,0,NaN,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,NaN,0,0,0,NaN,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,NaN,0,0,0,NaN,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225848,335982,1,19,2,BB McCullum,P Kumar,NaN,6,0,0,NaN,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore
225849,335982,1,19,3,BB McCullum,P Kumar,NaN,2,0,0,NaN,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore
225850,335982,1,19,4,BB McCullum,P Kumar,NaN,0,0,0,NaN,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore
225851,335982,1,19,5,BB McCullum,P Kumar,NaN,2,0,0,NaN,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore
225852,335982,1,19,6,BB McCullum,P Kumar,NaN,6,0,0,NaN,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore

In [32]:

merged_df['player_dismissed'] = merged_df.groupby('ID').cumsum()['isWicketDelivery']
merged_df['wickets_left'] = 10 - merged_df['player_dismissed']

In [33]:
merged_df

,ID,innings,overs,ballnumber,batter,bowler,extra_type,total_run,non_boundary,isWicketDelivery,player_out,BattingTeam,city,team1,team2,outcome,BowlingTeam,player_dismissed,wickets_left
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,NaN,0,0,0,NaN,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans,0,10
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,legbyes,1,0,0,NaN,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans,0,10
2,1312200,1,0,3,JC Buttler,Mohammed Shami,NaN,1,0,0,NaN,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans,0,10
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,NaN,0,0,0,NaN,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans,0,10
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,NaN,0,0,0,NaN,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225848,335982,1,19,2,BB McCullum,P Kumar,NaN,6,0,0,NaN,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7
225849,335982,1,19,3,BB McCullum,P Kumar,NaN,2,0,0,NaN,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7
225850,335982,1,19,4,BB McCullum,P Kumar,NaN,0,0,0,NaN,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7
225851,335982,1,19,5,BB McCullum,P Kumar,NaN,2,0,0,NaN,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7
225852,335982,1,19,6,BB McCullum,P Kumar,NaN,6,0,0,NaN,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7

In [34]:
merged_df.drop(columns=['isWicketDelivery','player_out'],inplace =True)

In [35]:
merged_df

,ID,innings,overs,ballnumber,batter,bowler,extra_type,total_run,non_boundary,BattingTeam,city,team1,team2,outcome,BowlingTeam,player_dismissed,wickets_left
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,NaN,0,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans,0,10
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,legbyes,1,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans,0,10
2,1312200,1,0,3,JC Buttler,Mohammed Shami,NaN,1,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans,0,10
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,NaN,0,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans,0,10
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,NaN,0,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225848,335982,1,19,2,BB McCullum,P Kumar,NaN,6,0,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7
225849,335982,1,19,3,BB McCullum,P Kumar,NaN,2,0,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7
225850,335982,1,19,4,BB McCullum,P Kumar,NaN,0,0,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7
225851,335982,1,19,5,BB McCullum,P Kumar,NaN,2,0,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7
225852,335982,1,19,6,BB McCullum,P Kumar,NaN,6,0,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7

In [36]:
merged_df['ball_bowled'] = merged_df['extra_type'].apply(lambda x: 0 if x in ['noballs', 'wides'] else 1)

In [37]:
merged_df['ball_bowled']

0         1
1         1
2         1
3         1
4         1
         ..
225848    1
225849    1
225850    1
225851    1
225852    1
Name: ball_bowled, Length: 88979, dtype: int64

In [38]:
merged_df['ball_bowled'].value_counts()

1    85814
0     3165
Name: ball_bowled, dtype: int64

In [39]:
merged_df['total_ball_bowled'] = merged_df.groupby('ID')['ball_bowled'].cumsum()

In [40]:
merged_df['total_ball_bowled'] = merged_df['total_ball_bowled']

In [41]:
merged_df['balls_left'] = 120 - merged_df['total_ball_bowled']
merged_df['balls_left'] = merged_df['balls_left'].apply(lambda x:0 if x<0 else x)

In [42]:
merged_df

,ID,innings,overs,ballnumber,batter,bowler,extra_type,total_run,non_boundary,BattingTeam,city,team1,team2,outcome,BowlingTeam,player_dismissed,wickets_left,ball_bowled,total_ball_bowled,balls_left
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,NaN,0,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans,0,10,1,1,119
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,legbyes,1,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans,0,10,1,2,118
2,1312200,1,0,3,JC Buttler,Mohammed Shami,NaN,1,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans,0,10,1,3,117
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,NaN,0,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans,0,10,1,4,116
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,NaN,0,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans,0,10,1,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225848,335982,1,19,2,BB McCullum,P Kumar,NaN,6,0,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7,1,116,4
225849,335982,1,19,3,BB McCullum,P Kumar,NaN,2,0,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7,1,117,3
225850,335982,1,19,4,BB McCullum,P Kumar,NaN,0,0,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7,1,118,2
225851,335982,1,19,5,BB McCullum,P Kumar,NaN,2,0,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7,1,119,1
225852,335982,1,19,6,BB McCullum,P Kumar,NaN,6,0,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7,1,120,0

In [43]:
merged_df['current_score'] = merged_df.groupby('ID')['total_run'].cumsum()

In [44]:
merged_df

,ID,innings,overs,ballnumber,batter,bowler,extra_type,total_run,non_boundary,BattingTeam,...,team1,team2,outcome,BowlingTeam,player_dismissed,wickets_left,ball_bowled,total_ball_bowled,balls_left,current_score
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,NaN,0,0,Rajasthan Royals,...,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans,0,10,1,1,119,0
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,legbyes,1,0,Rajasthan Royals,...,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans,0,10,1,2,118,1
2,1312200,1,0,3,JC Buttler,Mohammed Shami,NaN,1,0,Rajasthan Royals,...,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans,0,10,1,3,117,2
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,NaN,0,0,Rajasthan Royals,...,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans,0,10,1,4,116,2
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,NaN,0,0,Rajasthan Royals,...,Rajasthan Royals,Gujarat Titans,NaN,Gujarat Titans,0,10,1,5,115,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225848,335982,1,19,2,BB McCullum,P Kumar,NaN,6,0,Kolkata Knight Riders,...,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7,1,116,4,212
225849,335982,1,19,3,BB McCullum,P Kumar,NaN,2,0,Kolkata Knight Riders,...,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7,1,117,3,214
225850,335982,1,19,4,BB McCullum,P Kumar,NaN,0,0,Kolkata Knight Riders,...,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7,1,118,2,214
225851,335982,1,19,5,BB McCullum,P Kumar,NaN,2,0,Kolkata Knight Riders,...,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7,1,119,1,216
225852,335982,1,19,6,BB McCullum,P Kumar,NaN,6,0,Kolkata Knight Riders,...,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7,1,120,0,222

In [45]:
merged_df['current_runrate'] = merged_df['current_score']/merged_df['total_ball_bowled']*6

In [46]:
merged_df

,ID,innings,overs,ballnumber,batter,bowler,extra_type,total_run,non_boundary,BattingTeam,...,team2,outcome,BowlingTeam,player_dismissed,wickets_left,ball_bowled,total_ball_bowled,balls_left,current_score,current_runrate
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,NaN,0,0,Rajasthan Royals,...,Gujarat Titans,NaN,Gujarat Titans,0,10,1,1,119,0,0.000000
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,legbyes,1,0,Rajasthan Royals,...,Gujarat Titans,NaN,Gujarat Titans,0,10,1,2,118,1,3.000000
2,1312200,1,0,3,JC Buttler,Mohammed Shami,NaN,1,0,Rajasthan Royals,...,Gujarat Titans,NaN,Gujarat Titans,0,10,1,3,117,2,4.000000
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,NaN,0,0,Rajasthan Royals,...,Gujarat Titans,NaN,Gujarat Titans,0,10,1,4,116,2,3.000000
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,NaN,0,0,Rajasthan Royals,...,Gujarat Titans,NaN,Gujarat Titans,0,10,1,5,115,2,2.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225848,335982,1,19,2,BB McCullum,P Kumar,NaN,6,0,Kolkata Knight Riders,...,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7,1,116,4,212,10.965517
225849,335982,1,19,3,BB McCullum,P Kumar,NaN,2,0,Kolkata Knight Riders,...,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7,1,117,3,214,10.974359
225850,335982,1,19,4,BB McCullum,P Kumar,NaN,0,0,Kolkata Knight Riders,...,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7,1,118,2,214,10.881356
225851,335982,1,19,5,BB McCullum,P Kumar,NaN,2,0,Kolkata Knight Riders,...,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7,1,119,1,216,10.890756
225852,335982,1,19,6,BB McCullum,P Kumar,NaN,6,0,Kolkata Knight Riders,...,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,3,7,1,120,0,222,11.100000

In [47]:
# Last five over runrate
groups = merged_df.groupby('ID')

match_ids = merged_df['ID'].unique()
last_five_over_runs = []
for id in match_ids:
    last_five_over_runs.extend(groups.get_group(id).rolling(window=30).sum()['total_run'].values.tolist())

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12756\1593152040.py:7: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['BattingTeam', 'BowlingTeam', 'batter', 'bowler', 'city', 'extra_type',
       'team1', 'team2'],
      dtype='object')
  last_five_over_runs.extend(groups.get_group(id).rolling(window=30).sum()['total_run'].values.tolist())
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12756\1593152040.py:7: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['BattingTeam', 'BowlingTeam', 'batter', 'bowler', 'city', 'extra_type',
       'outcome', 'team1', 'team2'],
      dtype='object')
  last_five_over_runs.extend(groups.get_group(id).rolling(window=30).sum()['total_run'].values.tolist())
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12756\1593152040.py:7: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['BattingTeam', 'BowlingTeam', 'batter', 'bowler', 'city', 'team1',
       'team2'],
      dtype='object')
  last_five_over_runs.extend(groups.get_group(id).rolling(window=30).sum()['total_run'].values.tolist())

In [48]:
merged_df['last_five_over_runs'] = last_five_over_runs

In [49]:
merged_df['total_run'].value_counts()

1    37013
0    30676
4    10410
2     5878
6     4452
3      338
5      183
7       29
Name: total_run, dtype: int64

In [50]:
merged_df = pd.DataFrame(merged_df)

In [51]:
merged_df.reset_index(inplace=True)

In [52]:
merged_df = merged_df.groupby('ID').sum()['total_run'].reset_index().merge(merged_df,on = 'ID')

In [53]:
merged_df.drop(columns=['innings','batter','bowler','non_boundary'],inplace=True)

In [54]:
merged_df

,ID,total_run_x,index,overs,ballnumber,extra_type,total_run_y,BattingTeam,city,team1,...,outcome,BowlingTeam,player_dismissed,wickets_left,ball_bowled,total_ball_bowled,balls_left,current_score,current_runrate,last_five_over_runs
0,335982,222,225729,0,1,legbyes,1,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,...,NaN,Royal Challengers Bangalore,0,10,1,1,119,1,6.000000,NaN
1,335982,222,225730,0,2,NaN,0,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,...,NaN,Royal Challengers Bangalore,0,10,1,2,118,1,3.000000,NaN
2,335982,222,225731,0,3,wides,1,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,...,NaN,Royal Challengers Bangalore,0,10,0,2,118,2,6.000000,NaN
3,335982,222,225732,0,4,NaN,0,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,...,NaN,Royal Challengers Bangalore,0,10,1,3,117,2,4.000000,NaN
4,335982,222,225733,0,5,NaN,0,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,...,NaN,Royal Challengers Bangalore,0,10,1,4,116,2,3.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88974,1312200,130,115,19,2,NaN,2,Rajasthan Royals,Ahmedabad,Rajasthan Royals,...,NaN,Gujarat Titans,7,3,1,116,4,125,6.465517,39.0
88975,1312200,130,116,19,3,NaN,4,Rajasthan Royals,Ahmedabad,Rajasthan Royals,...,NaN,Gujarat Titans,7,3,1,117,3,129,6.615385,39.0
88976,1312200,130,117,19,4,NaN,1,Rajasthan Royals,Ahmedabad,Rajasthan Royals,...,NaN,Gujarat Titans,8,2,1,118,2,130,6.610169,40.0
88977,1312200,130,118,19,5,NaN,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,...,NaN,Gujarat Titans,8,2,1,119,1,130,6.554622,36.0
88978,1312200,130,119,19,6,NaN,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,...,NaN,Gujarat Titans,9,1,1,120,0,130,6.500000,36.0

In [55]:
# merged_df.to_csv('2008 - 2022.csv', index=False)